.background{
    width: inherit;
    height: 95vh;
    background: radial-gradient(rgb(255, 253, 253), #363434);
    padding-top: 5vh;
}

.oknoGry{
    text-align: center;
    max-width: 60%;
    min-height: fit-content;
    background-color: rgba(71, 68, 68, 0.37);
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
    h1{
        color: #dbdbdb;
        padding-bottom: 1rem;
    }
    img{
        max-width: 60%;
        max-height: 60%;
    }
    .karty{
        text-align:center;
        div{
            display: inline-block;
            img{
                max-width: 180px;
                max-height: 360px;
                display: flex;
            }
        }
    }
    .interakcja{
        width: 80%;
        height: 15%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 0;
        .dawaj{
            flex:1;
            background: rgb(48,48,48);
            color: white;
            border-radius: 5rem;
            max-width: 40%;
            //min-height: 5vh;
            &:hover{
                background: rgb(219, 145, 7);
                cursor: pointer;
            }
        }
        .koncz{
            flex: 1;
            background: rgb(48, 48, 48);
            color: white;
            border-radius: 5rem;
            max-width: 40%;
            //min-height: 5vh;
            &:hover{
                background: rgb(219, 145, 7);
                cursor: pointer;
            }
        }
    }

}


