.playerCounter {
    display: flex;
    margin: 2vh;
    padding: 2vw;

}
.aktualny{
    padding-left: 2vw;
}
#text{
    animation: colorChanging 5s infinite;
    font-size: 2rem;
    color:blue;
    
}
@keyframes colorChanging {
    50%{
        color:red;
    }
}