.playerCounter {
    display: flex;
    margin: 2vh;
    padding: 2vw;

}
.aktualny{
    padding-left: 2vw;
}
#text{
    animation: colorChanging 5s infinite;
    font-size: 2rem;
    
}
@keyframes colorChanging {
    25%{
        color:lightseagreen;
    }
    50%{
        color:green;
    }
    75%{
        color: maroon;
    }
}