.playerCounter {
    display: flex;
    margin: 2vh;
    padding: 2vw;

}
.aktualny{
    padding-left: 2vw;
}
#text{
    animation: colorChanging 1s infinite;
    font-size: 2rem;
    color:blue;
    
}

.wyswietlaczMulti{
    &:hover{
        cursor: pointer;
    }
}

#listaZwyciezcow{
    list-style:  inside;
    list-style-type: upper-roman;
}

@keyframes colorChanging {
    50%{
        color:red;
    }
}