*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Amita', sans-serif;
    font-size: 1rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 5rem;
}

@import "app";
@media screen and (max-width: 850px){
    .oknoGry{
        max-width: 80%;
        // img{
        //     max-width: 60px;
        //     max-height: 120px;
        // }
    }
    .karty{
        div{
            img{
                max-width: 80px;
                max-height: 100px;
            }
        }
    }
    h1{
        font-size: 2em;
    }
}
@media screen and (max-width: 480px){
    .oknoGry{
        width: 100%;
    }
    h1{
        font-size: 0.7em;
    }
    img{

        max-width: 10px;
    }
}

